fastapi
uvicorn[standard]
SQLAlchemy
pydantic[email]
email-validator
python-multipart
bcrypt
argon2-cffi
passlib
python-jose
python-dotenv
requests
pytrends
beautifulsoup4
lxml
psycopg2-binary
google-api-python-client
